/* You can add global styles to this file, and also import other style files */

.xbox-green {
    background-color: #107c10;
}

.playstation-blue {
    background-color: #003791
}

.nintendo-red {
    background-color: #D20014;
}

.steam-black {
    background-color: #000000;
}

.charcoal-grey {
    background-color: lightslategray;
}